<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3">
    <div class="row">
        <div class="col-md-12">
            <p class="font-medium-3 text-muted text-bold-400">Permissies</p>
            <!-- <a href="javascript:void(0)" style='float:right;' (click)="open(content,$event)" class="btn btn-raised gradient-mint white"
                false>Toevoegen</a> -->
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <p>Role Naam :
                <span> Inspecteur </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- start kendo grid -->
            <!-- <kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true"
          [pageable]="true" filterable="menu" (dataStateChange)="dataStateChange($event)">
          <ng-template kendoGridToolbarTemplate>
                  <button kendoGridPDFCommand><span class='k-icon k-i-file-pdf'></span>Export to PDF</button>
              </ng-template>
          <kendo-grid-column field="Nr" title="Nr" width="10" [filterable]="false"></kendo-grid-column>
          <kendo-grid-column field="Module naam" title="Module naam" width="20"></kendo-grid-column>
          <kendo-grid-column  width="20" title="Action" >
              <ng-template kendoGridCellTemplate let-dataItem>
                  <a href='javascript:void(0)' (click)="open(content,$event)"><i class='icon-note primary font-medium-1 mr-2'></i></a>
                  <a href='javascript:void(0)' (click)="confirmCancelButton()" false><i class='icon-trash primary font-medium-1 mr-2'></i></a>
              </ng-template>
          </kendo-grid-column>
          <kendo-grid-pdf fileName="Permissions.pdf" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
                  <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
                  <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
                   <div class="page-template">
                      <div class="header">
                        <div style="float: right">Page {{ pageNum }} of {{ totalPages }}</div>
                        Multi-page grid with automatic page breaking
                      </div>
                      <div class="footer">
                        Page {{ pageNum }} of {{ totalPages }}
                      </div>
                    </div>
                  </ng-template>
              </kendo-grid-pdf>
      </kendo-grid> -->
            <!-- end kendo grid -->
            <!-- <fieldset>
                <legend>Check Settings</legend>
                <div class="k-form-field" style="margin-bottom: 1em;">
                    <span class="right">
                        <strong>Mode:</strong>
                    </span>
                    <input type="radio" name="checkMode" id="singleCheck" value="single" class="k-radio right" [(ngModel)]="checkMode" />
                    <label class="k-radio-label right" for="singleCheck">Single</label>
                    <input type="radio" name="checkMode" id="multipleCheck" value="multiple" class="k-radio" [(ngModel)]="checkMode" />
                    <label class="k-radio-label" for="multipleCheck">Multiple</label>
                </div>
                <div *ngIf="checkMode == 'multiple'">
                    <label class="k-form-field right">
                        <input type="checkbox" id="enableCheck" class="k-checkbox" [(ngModel)]="enableCheck" />
                        <label class="k-checkbox-label" for="enableCheck">Enable</label>
                    </label>
                    <label class="k-form-field right">
                        <input type="checkbox" id="checkChildren" class="k-checkbox" [(ngModel)]="checkChildren" />
                        <label class="k-checkbox-label" for="checkChildren">Check all children</label>
                    </label>
                    <label class="k-form-field right">
                        <input type="checkbox" id="checkParents" class="k-checkbox" [(ngModel)]="checkParents" />
                        <label class="k-checkbox-label" for="checkParents">Check all parents when children are checked</label>
                    </label>
                </div>
            </fieldset>
            <br /> -->
            <kendo-treeview kendoTreeViewExpandable [nodes]="data" [children]="children" [hasChildren]="hasChildren" textField="text"
                [kendoTreeViewCheckable]="checkableSettings" [(checkedKeys)]="checkedKeys">
            </kendo-treeview>
            <!-- <div style="margin: 10px 0">
                <i>Press SPACE to check/uncheck the active node</i>
                <div class="example-config">
                    Checked keys: {{checkedKeys.join(",")}}
                </div>
            </div> -->


        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12"> 
            <a href="settings/role" style='float:right;' class="btn btn-secondary btn-raised gradient " false>Annuleer</a>
            <a href="javascript:void(0)" style='float:right;margin-right: 10px;' class="btn btn-raised gradient-mint white" false>opslaan</a>
        </div>
    </div>
    <!-- Pop up code start -->
    <div class="card-body">
        <div class="card-block">
            <form [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()" novalidate>
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <p class="modal-title font-medium-3 text-muted">Permissies Toevoegen</p>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-md-3 label-control" for="eventRegInput1">Module naam: </label>
                            <div class="col-md-9">
                                <input type="text" id="eventRegInput1" class="form-control" name="txtModulenaam" formControlName="eventRegInput1" required>
                                <small class="form-text text-muted danger" *ngIf="!regularForm.get('eventRegInput1').valid && (regularForm.get('eventRegInput1').dirty || regularForm.get('eventRegInput1').touched)">Please enter a Module naam!</small>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-raised" [disabled]="!regularForm.valid">Opslaan</button>
                        <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                    </div>
                </ng-template>
            </form>
        </div>
    </div>
    <!-- Pop up code end -->

</section>
<!-- Filter Datatable Options Ends -->