<!--User Profile Starts-->
<!--Basic User Details Starts-->
<!--Basic User Details Ends-->
<!--About section starts-->
<section id="JobOrderContractTaken" *ngIf="currentPage === 'JobOrderContractTaken'">
    <div class="row">
        <div class="col-6">
            <a href="joborder/job-order-list" class="text-muted font-medium-3 text-bold-400">Werkopdracht: DA160001 > 03</a>
        </div>
        <div class="col-6 text-right">
            <div class="profile-cover-buttons">
                <div class="media-body halfway-fab align-self-end">
                    <button type="button" (click)="Modifyopen(Modifycontent,$event)" class="btn btn-success btn-raised">
                        <i class="ft-edit-2"></i> Wijzigen</button>
                    <button type="button" class="btn btn-success btn-raised">
                        <i class="ft-printer"></i>Printen</button>
                    <button type="button" (click)="DeleteconfirmCancelButton()" class="btn btn-success btn-raised">
                        <i class="ft-trash-2"></i>Verwijderen</button>
                </div>
                <!-- Add Pop up code start -->
                <div class="card-body">
                    <div class="card-block">
                        <form [formGroup]="ModifyregularForm" (ngSubmit)="ModifyonReactiveFormSubmit()" novalidate>
                            <ng-template #Modifycontent let-c="close" let-d="dismiss">
                                <div class="modal-header">
                                    <p class="font-medium-3 text-muted">Wijzigen</p>
                                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="ModifyContractnummer">Contractnummer: </label>
                                        <div class="col-md-9">
                                            <input type="text" id="ModifyContractnummer" class="form-control" name="ModifyContractnummer" formControlName="ModifyContractnummer"
                                                required>
                                            <small class="form-text text-muted danger" *ngIf="!ModifyregularForm.get('ModifyContractnummer').valid && (ModifyregularForm.get('ModifyContractnummer').dirty || ModifyregularForm.get('ModifyContractnummer').touched)">Please enter a Contractnummer!</small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="ModifyKlantreferentie">Klantreferentie: </label>
                                        <div class="col-md-9">
                                            <input type="text" id="ModifyKlantreferentie" class="form-control" name="ModifyKlantreferentie" formControlName="ModifyKlantreferentie"
                                                required>
                                            <small class="form-text text-muted danger" *ngIf="!ModifyregularForm.get('ModifyKlantreferentie').valid && (ModifyregularForm.get('ModifyKlantreferentie').dirty || ModifyregularForm.get('ModifyKlantreferentie').touched)">Please enter a Klantreferentie!</small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="ModifyMedewerker">Medewerker: </label>
                                        <div class="col-md-9">
                                            <input type="text" id="ModifyMedewerker" class="form-control" name="ModifyMedewerker" formControlName="ModifyMedewerker"
                                                required>
                                            <small class="form-text text-muted danger" *ngIf="!ModifyregularForm.get('ModifyMedewerker').valid && (ModifyregularForm.get('ModifyMedewerker').dirty || ModifyregularForm.get('ModifyMedewerker').touched)">Please enter a Medewerker!</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success btn-raised" [disabled]="!ModifyregularForm.valid">Opslaan</button>
                                    <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                                </div>
                            </ng-template>
                        </form>
                    </div>
                </div>
                <!-- Add  Pop up code end -->

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <br/>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary">
                                            <a>
                                                <i class="icon-present font-small-3"></i> Contractnummer:</a>
                                        </span>
                                        <span class="display-block overflow-hidden">DA160001</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary">
                                            <a>
                                                <i class="ft-map-pin font-small-3"></i> Klantreferentie:</a>
                                        </span>
                                        <span class="display-block overflow-hidden">OPDR-001</span>
                                    </li>
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary">
                                            <a>
                                                <i class="ft-globe font-small-3"></i>Medewerker:</a>
                                        </span>
                                        <span class="display-block overflow-hidden">Piet van Puffelen</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3"></div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <img class="img-thumbnail img-fluid" src="./assets/img/gallery/home-1.jpg" itemprop="thumbnail" alt="Image description" />
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <p>De Beurs
                                            <br/>Woongebouw 1
                                            <br/>Markt 1-199
                                            <br/>4811 XP Breda </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br />
                        <!--Nav justification Starts-->
                        <div class="col-md-12 col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-block">
                                        <ngb-tabset [justify]="currentJustify">
                                            <ngb-tab>
                                                <ng-template ngbTabTitle>
                                                    <b>Contract & Taken</b>
                                                </ng-template>

                                                <ng-template ngbTabContent>
                                                    <!--Datatable Options Starts -->
                                                    <section id="filter" class="mb-3">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <p class="text-muted font-medium-3">Contract & Taken</p>
                                                                <br/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <!-- start kendo grid -->
                                                                <kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true"
                                                                    [pageable]="true" filterable="menu" (dataStateChange)="dataStateChange($event)">
                                                                    <ng-template kendoGridToolbarTemplate>
                                                                        <button type="button" kendoGridExcelCommand>
                                                                            <span class="k-icon k-i-file-excel"></span>Export to Excel</button>
                                                                    </ng-template>
                                                                    <kendo-grid-column field="Nr" title="Nr" width="10" [filterable]="false"></kendo-grid-column>
                                                                    <kendo-grid-column field="Omschrijving" title="Omschrijving" width="20"></kendo-grid-column>
                                                                    <kendo-grid-column field="Waarde" title="Waarde" width="20"></kendo-grid-column>
                                                                    <kendo-grid-excel fileName="RoofContract.xlsx"></kendo-grid-excel>
                                                                </kendo-grid>
                                                                <!-- end kendo grid -->

                                                            </div>
                                                        </div>
                                                        <br/>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <!-- start kendo grid -->
                                                                <kendo-grid [data]="gridData2" [pageSize]="state2.take" [skip]="state2.skip" [sort]="state2.sort" [filter]="state2.filter"
                                                                    [sortable]="true" [pageable]="true" filterable="menu" (dataStateChange)="dataStateChange2($event)">
                                                                    <ng-template kendoGridToolbarTemplate>
                                                                        <button type="button" kendoGridExcelCommand>
                                                                            <span class="k-icon k-i-file-excel"></span>Export to Excel</button>
                                                                    </ng-template>
                                                                    <kendo-grid-column field="Nr" title="Nr" width="20" [filterable]="false"></kendo-grid-column>
                                                                    <kendo-grid-column field="Omschrijving" title="Omschrijving" width="20"></kendo-grid-column>
                                                                    <kendo-grid-column field="Datum status" title="Datum status" width="20" format="{0:d}"></kendo-grid-column>
                                                                    <kendo-grid-column title="Status" width="20">
                                                                        <ng-template kendoGridCellTemplate let-dataItem>
                                                                            <a href='javascript:void(0)' class="btn btn-raised btn-info" disabled>In uitvoering</a>
                                                                        </ng-template>

                                                                    </kendo-grid-column>
                                                                    <kendo-grid-excel fileName="RoofTaken.xlsx"></kendo-grid-excel>
                                                                </kendo-grid>
                                                                <!-- end kendo grid -->

                                                            </div>
                                                        </div>
                                                    </section>
                                                    <!--Datatable Options Ends -->
                                                </ng-template>
                                            </ngb-tab>
                                            <ngb-tab>
                                                <ng-template ngbTabTitle>
                                                    <b>Rapportages</b>
                                                </ng-template>
                                                <ng-template ngbTabContent>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <p class="text-muted font-medium-3">Rapportages</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <a href="joborder/reports" style='margin-left:500px;' class="btn btn-raised gradient-mint white pull-right" false>Genereer rapport</a>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <p class="text-muted font-medium-3">Inhoud rapport</p>
                                                        </div>
                                                    </div>
                                                    <br/>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div>
                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkVoorblad">
                                                                        <label class="custom-control-label font-medium-2" for="chkVoorblad">
                                                                            <span>1.0 Voorblad</span>&nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkAanzichtafoto">
                                                                        <label class="custom-control-label" for="chkAanzichtafoto">1.1 Aanzichtafoto gebouw &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkLocatie">
                                                                        <label class="custom-control-label" for="chkLocatie">1.2 Locatie en kenmerken gebouw &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkOpdrachtgever">
                                                                        <label class="custom-control-label" for="chkOpdrachtgever">1.3 Opdrachtgever en contactgegevens &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkContractonderdelen">
                                                                        <label class="custom-control-label" for="chkContractonderdelen">1.4 Contractonderdelen &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkInspectie">
                                                                        <label class="custom-control-label" for="chkInspectie">1.5 Inspectie uitgevoerd door &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div>
                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkInventarisatie">
                                                                        <label class="custom-control-label font-medium-2" for="chkInventarisatie">2.0 Inventarisatie daken en elementen &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkDakplattegrond">
                                                                        <label class="custom-control-label" for="chkDakplattegrond">2.1 Dakplattegrond &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkHoogte">
                                                                        <label class="custom-control-label" for="chkHoogte">2.2 Hoogte en toegang dak &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkDakveiligheid">
                                                                        <label class="custom-control-label" for="chkDakveiligheid">2.3 Dakveiligheid olgemeen &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkWaterafvoer">
                                                                        <label class="custom-control-label" for="chkWaterafvoer">2.4 Waterafvoer &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkBijzonderheden">
                                                                        <label class="custom-control-label" for="chkBijzonderheden">2.5 Bijzonderheden &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkDakcontructie">
                                                                        <label class="custom-control-label" for="chkDakcontructie">2.6 Dakcontructie &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkDakbouwdelen">
                                                                        <label class="custom-control-label" for="chkDakbouwdelen">2.7 Dakbouwdelen &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div>
                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkSamenvatting">
                                                                        <label class="custom-control-label font-medium-2" for="chkSamenvatting">
                                                                            <span>3.0 Samenvatting conditie en advies</span>&nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkConditie">
                                                                        <label class="custom-control-label" for="chkConditie">3.1 Conditie daken &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkAdvies">
                                                                        <label class="custom-control-label" for="chkAdvies">3.2 Advies groot onderhoud &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkKostenraming">
                                                                        <label class="custom-control-label" for="chkKostenraming">3.3 Kostenraming groot onderhoud &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkAdvies1">
                                                                        <label class="custom-control-label" for="chkAdvies1">3.4 Advies correctief onderhoud &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>


                                                                </div>

                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkBijzonderheden1">
                                                                        <label class="custom-control-label" for="chkBijzonderheden1">3.5 Bijzonderheden &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div>
                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkRapportages">
                                                                        <label class="custom-control-label font-medium-2" for="chkRapportages">4.0 Rapportages per dak &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkConditiedak">
                                                                        <label class="custom-control-label" for="chkConditiedak">4.1 Conditie dak &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkConditieDakbouwdelen">
                                                                        <label class="custom-control-label" for="chkConditieDakbouwdelen">4.2 Conditie Dakbouwdelen &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkAdviescorrectiefonderhoud">
                                                                        <label class="custom-control-label" for="chkAdviescorrectiefonderhoud">4.3 Advies correctief onderhoud &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkAdviesgrootonderhoud">
                                                                        <label class="custom-control-label" for="chkAdviesgrootonderhoud">4.4 Advies groot onderhoud &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkKostenraminggrootonderhoud">
                                                                        <label class="custom-control-label" for="chkKostenraminggrootonderhoud">4.5 Kostenraming groot onderhoud &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkReinigingswerkzaamheden">
                                                                        <label class="custom-control-label" for="chkReinigingswerkzaamheden">4.6 Reinigingswerkzaamheden &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkBijlage">
                                                                        <label class="custom-control-label" for="chkBijlage">4.7 Bijlage foto's Reinigingswerkzaamheden &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <div class="custom-control custom-checkbox m-0">
                                                                        <input type="checkbox" class="custom-control-input" id="chkJlage">
                                                                        <label class="custom-control-label" for="chkJlage">4.8 Jlage foto's Inspectie / correctief onderhoud
                                                                            &nbsp;
                                                                            <i class="ft-check-circle font-medium-1 mr-2"></i>
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <a href="joborder/reports" style='margin-left:500px;' class="btn btn-raised gradient-mint white pull-right" false>Genereer rapport</a>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </ngb-tab>
                                        </ngb-tabset>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Nav justification Ends-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--About section ends-->

<!--User Timeline section starts-->

<!--User Timeline section ends-->

<!--User's friend section starts-->

<!--User's friend section starts-->

<!--User's uploaded photos section starts-->
<!--User's uploaded photos section starts-->
<!--User Profile Starts-->