<!--User Profile Starts-->
<!--Basic User Details Starts-->
<!--Basic User Details Ends-->
<!--About section starts-->
<section id="RoofDetails" *ngIf="currentPage === 'RoofDetails'">
  <div class="row">
    <div class="col-6">
      <a href="building/detail" class="font-medium-3 text-muted text-bold-400">01 Hoge Dak Woningen
        <button class="btn btn-raised btn-warning">matig</button>
    </a>
    </div>
    <div class="col-6 text-right">
      <div class="profile-cover-buttons">
        <div class="media-body halfway-fab align-self-end">
          <button type="button" (click)="Modifyopen(Modifycontent,$event)" class="btn btn-success btn-raised">
            <i class="ft-edit-2"></i> Wijzigen</button>
          <button type="button" class="btn btn-success btn-raised">
            <i class="ft-printer"></i>Printen</button>
          <button type="button" (click)="DeleteconfirmCancelButton()" false class="btn btn-success btn-raised">
            <i class="ft-trash-2"></i>Verwijderen</button>
        </div>
        <!-- Add Daken Pop up code start -->
        <div class="card-body">
          <div class="card-block">
            <form [formGroup]="ModifyregularForm" (ngSubmit)="ModifyonReactiveFormSubmit()" novalidate>
              <ng-template #Modifycontent let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <p class="font-medium-3 text-muted">Dak Toevoegen</p>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="Omschrijving">Omschrijving: </label>
                    <div class="col-md-9">
                      <input type="text" id="Omschrijving" class="form-control" name="Omschrijving" formControlName="Omschrijving" required>
                      <small class="form-text text-muted danger" *ngIf="!ModifyregularForm.get('Omschrijving').valid && (ModifyregularForm.get('Omschrijving').dirty || ModifyregularForm.get('Omschrijving').touched)">Please enter a Omschrijving!</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="Omvang">Omvang (m2): </label>
                    <div class="col-md-9">
                      <input type="text" id="Omvang" class="form-control" name="Omvang" formControlName="Omvang" required>
                      <small class="form-text text-muted danger" *ngIf="!ModifyregularForm.get('Omvang').valid && (ModifyregularForm.get('Omvang').dirty || ModifyregularForm.get('Omvang').touched)">Please enter a Omvang!</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="Orientatie">Orientatie: </label>
                    <div class="col-md-9">
                      <input type="text" id="Orientatie" class="form-control" name="Orientatie" formControlName="Orientatie" required>
                      <small class="form-text text-muted danger" *ngIf="!ModifyregularForm.get('Orientatie').valid && (ModifyregularForm.get('Orientatie').dirty || ModifyregularForm.get('Orientatie').touched)">Please enter a Orientatie!</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="Hoogte">Hoogte (m1): </label>
                    <div class="col-md-9">
                      <input type="text" id="Hoogte" class="form-control" name="Hoogte" formControlName="Hoogte" required>
                      <small class="form-text text-muted danger" *ngIf="!ModifyregularForm.get('Hoogte').valid && (ModifyregularForm.get('Hoogte').dirty || ModifyregularForm.get('Hoogte').touched)">Please enter a Hoogte!</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="Normconditie">Normconditie: </label>
                    <div class="col-md-9">
                      <select id="Normconditie" name="Normconditie" class="form-control">
                        <option value="none" selected="" disabled="">Redelijk</option>
                        <option value="Redelijk">Redelijk</option>
                      </select>
                      <small class="form-text text-muted danger" *ngIf="!ModifyregularForm.get('Normconditie').valid && (ModifyregularForm.get('Normconditie').dirty || ModifyregularForm.get('Normconditie').touched)">Please select a Normconditie!</small>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success btn-raised" [disabled]="!regularForm.valid">Opslaan</button>
                  <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                </div>
              </ng-template>
            </form>
          </div>
        </div>
        <!-- Add Daken Pop up code end -->

      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
            <br/>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                <ul class="no-list-style">
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a>
                        <i class="icon-present font-small-3"></i> Nr:</a>
                    </span>
                    <span class="display-block overflow-hidden">01</span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a>
                        <i class="ft-map-pin font-small-3"></i> Omschrijving:</a>
                    </span>
                    <span class="display-block overflow-hidden">Hoge dak woningen</span>
                  </li>

                </ul>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <ul class="no-list-style">
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a>
                        <i class="ft-globe font-small-3"></i>Type dak:</a>
                    </span>
                    <span class="display-block overflow-hidden">Vlak dak</span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a>
                        <i class="ft-briefcase  font-small-3"></i>Omvang:</a>
                    </span>
                    <span class="display-block overflow-hidden">1000,00 m2</span>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <ul class="no-list-style">
                  <li class="mb-2">
                    <img class="img-thumbnail img-fluid" src="./assets/img/gallery/home-1.jpg" itemprop="thumbnail" alt="Image description" />
                  </li>
                </ul>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <ul class="no-list-style">
                  <li class="mb-2">
                    <p>De Beurs
                      <br/>Woongebouw 1
                      <br/>Markt 1-199
                      <br/>4811 XP Breda </p>
                  </li>
                </ul>
              </div>
            </div>
            <br/>
            <!--Nav justification Starts-->
            <div class="col-md-12 col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="card-block">
                    <ngb-tabset [justify]="currentJustify">
                      <ngb-tab>
                        <ng-template ngbTabTitle>
                          <b>Elementen & condities</b>
                        </ng-template>

                        <ng-template ngbTabContent>
                          <!--Datatable Options Starts -->
                          <section id="filter" class="mb-3">
                            <div class="row">
                              <div class="col-6">
                                <p class="font-medium-3 text-muted">Elementen</p>
                                </div>
                                <div class="col-6">
                                <a href="javascript:void(0)" style='float:right;' (click)="open(content1,$event)" class="btn btn-raised gradient-mint white"
                                  false>Toevoegen</a>
                                </div>
                                </div>
                                
                              
                                <!-- start kendo grid -->
                                <kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true"
                                  [pageable]="true" filterable="menu" (dataStateChange)="dataStateChange($event)">
                                  <ng-template kendoGridToolbarTemplate>
                                      <button type="button" kendoGridExcelCommand><span class="k-icon k-i-file-excel"></span>Export to Excel</button>
                                  </ng-template>
                                  <kendo-grid-column field="Onderdeel" title="Onderdeel" width="10" [filterable]="false"></kendo-grid-column>
                                  <kendo-grid-column field="Element" title="Element" width="20"></kendo-grid-column>
                                  <kendo-grid-column field="Omvang" title="Omvang" width="20"></kendo-grid-column>
                                  <kendo-grid-column field="Huidige conditie" title="Huidige conditie" width="20"></kendo-grid-column>
                                  <kendo-grid-column title="Norm" width="20">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                      <a href='javascript:void(0)' class='btn btn-raised btn-warning'>matig</a>
                                    </ng-template>
                                  </kendo-grid-column>
                                  <kendo-grid-column field="Aandeel" title="Aandeel" width="20">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                      <a href='javascript:void(0)' class='btn btn-raised btn-success'>Redelljk</a>
                                    </ng-template>
                                  </kendo-grid-column>
                                  <kendo-grid-column field="Laatst gemeten" title="Laatst gemeten" width="20"></kendo-grid-column>
                                  <kendo-grid-column title="Action" width="30">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                      <a href='roof/roofelement'>
                                        <i class='icon-arrow-right primary font-medium-1 mr-2'></i>
                                      </a>
                                      <a href='javascript:void(0)' (click)="open(content1,$event)">
                                        <i class='icon-note primary font-medium-1 mr-2'></i>
                                      </a>
                                      <a href='javascript:void(0)' (click)="confirmCancelButton()" false>
                                        <i class='icon-trash primary font-medium-1 mr-2'></i>
                                      </a>
                                    </ng-template>
                                  </kendo-grid-column>
                                  <kendo-grid-excel fileName="RoofElement.xlsx"></kendo-grid-excel>
                                </kendo-grid>
                                <!-- end kendo grid -->
                                <br/>
                                <hr>
                                <p class="font-medium-3 text-muted">Conditieverloop</p>
                                

                                <!-- start kendo grid -->
                                <kendo-grid [data]="CondtitievergridData" [pageSize]="Condtitieverstate.take" [skip]="Condtitieverstate.skip" [sort]="Condtitieverstate.sort"
                                  [filter]="Condtitieverstate.filter" [sortable]="true" [pageable]="true" filterable="menu"
                                  (dataStateChange)="CondtitieverdataStateChange($event)">
                                  <ng-template kendoGridToolbarTemplate>
                                      <button type="button" kendoGridExcelCommand><span class="k-icon k-i-file-excel"></span>Export to Excel</button>
                                  </ng-template>
                                  
                                  <kendo-grid-column field="Inspectiedatum" title="Inspectiedatum" width="20"></kendo-grid-column>
                                  <kendo-grid-column field="Inspecteur" title="Inspecteur" width="20"></kendo-grid-column>
                                  <kendo-grid-column field="Conditie" title="Conditie" width="20">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                      <a href='javascript:void(0)' class='btn btn-raised btn-warning'>Matig</a>
                                    </ng-template>
                                  </kendo-grid-column>
                                  <kendo-grid-column field="Inspectiemethode" title="Inspectiemethode" width="20"></kendo-grid-column>
                                  <kendo-grid-excel fileName="RoofConditieverloop.xlsx"></kendo-grid-excel>
                                </kendo-grid>
                                <!-- end kendo grid -->
                                <hr>
                                <!--Line with Area Chart 1 Starts-->
                                <div class="row">
                                  <div class="col-12">
                                    <div class="card">
                                      <div class="card-header">
                                        <p class="card-title font-medium-3 text-muted">Grafisch</p>
                                      </div>
                                      <div class="card-body">
                                        <div class="card-block">
                                          <div class="chart-info mb-3 ml-3">
                                            <!-- <span class="gradient-blackberry d-inline-block rounded-circle mr-1" style="width:15px; height:15px;"></span> Totaal correctief
                                            <span class="gradient-mint d-inline-block rounded-circle mr-1 ml-2" style="width:15px; height:15px;"></span> Planmatig onderhoud per jaar -->
                                          </div>
                                          <div id="line-area" class="height-350 lineArea">
                                            <x-chartist [data]="lineArea.data" [type]="lineArea.type" [options]="lineArea.options" [responsiveOptions]="lineArea.responsiveOptions"
                                              [events]="lineArea.events">
                                            </x-chartist>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!--Line with Area Chart 1 Ends-->

                              
                            
                          </section>
                          <!--Datatable Options Ends -->
                        </ng-template>

                        <!-- Pop up code start -->
                        <div class="card-body">
                          <div class="card-block">
                            <form [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()" novalidate>
                              <ng-template #content1 let-c="close" let-d="dismiss">
                                <div class="modal-header">
                                  <p class="modal-title font-medium-3 text-muted">Element Toevoegen</p>
                                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="basicSelect">Onderdeel:</label>
                                    <div class="col-md-9">
                                      <fieldset>
                                        <select class="form-control" id="basicSelect" formControlName="basicSelect" required>
                                          <option>Select Option</option>
                                          <option>Dak</option>
                                        </select>
                                        <small class="form-text text-muted danger" *ngIf="!regularForm.get('basicSelect').valid && (regularForm.get('basicSelect').dirty || regularForm.get('basicSelect').touched)">Please select a Onderdeel!</small>
                                      </fieldset>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="ElementSelect">Element:</label>
                                    <div class="col-md-9">
                                      <fieldset>
                                        <select class="form-control" id="ElementSelect" formControlName="ElementSelect" required>
                                          <option>Select Option</option>
                                          <option>-</option>
                                        </select>
                                        <small class="form-text text-muted danger" *ngIf="!regularForm.get('ElementSelect').valid && (regularForm.get('ElementSelect').dirty || regularForm.get('ElementSelect').touched)">Please select a Element!</small>
                                      </fieldset>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="eventRegInput1">Omvang(m2): </label>
                                    <div class="col-md-9">
                                      <input type="text" id="eventRegInput1" class="form-control" name="txtOmvang" formControlName="eventRegInput1" required>
                                      <small class="form-text text-muted danger" *ngIf="!regularForm.get('eventRegInput1').valid && (regularForm.get('eventRegInput1').dirty || regularForm.get('eventRegInput1').touched)">Please enter a Omvang!</small>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="eventRegInput2">Aandeel(%): </label>
                                    <div class="col-md-9">
                                      <input type="text" id="eventRegInput2" class="form-control" name="txtAandeel" formControlName="eventRegInput2" required>
                                      <small class="form-text text-muted danger" *ngIf="!regularForm.get('eventRegInput2').valid && (regularForm.get('eventRegInput2').dirty || regularForm.get('eventRegInput2').touched)">Please enter a Aandeel!</small>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="eventRegInput3">Datum: </label>
                                    <div class="col-md-9">
                                      <input type="text" id="eventRegInput3" class="form-control" name="txtDatum" formControlName="eventRegInput3" required>
                                      <small class="form-text text-muted danger" *ngIf="!regularForm.get('eventRegInput3').valid && (regularForm.get('eventRegInput3').dirty || regularForm.get('eventRegInput3').touched)">Please enter a Datum!</small>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="NormconditieSelect">Normconditie: </label>
                                    <div class="col-md-9">
                                      <fieldset>
                                        <select class="form-control" id="NormconditieSelect" formControlName="NormconditieSelect" required>
                                          <option>Select Option</option>
                                          <option>Dak</option>
                                        </select>
                                        <small class="form-text text-muted danger" *ngIf="!regularForm.get('NormconditieSelect').valid && (regularForm.get('NormconditieSelect').dirty || regularForm.get('NormconditieSelect').touched)">Please select a Normconditie!</small>
                                      </fieldset>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-success btn-raised" [disabled]="!regularForm.valid">Opslaan</button>
                                  <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                                </div>
                              </ng-template>
                            </form>
                          </div>
                        </div>
                        <!-- Pop up code end -->


                      </ngb-tab>
                      <ngb-tab>
                        <ng-template ngbTabTitle>
                          <b>Dakconstructie</b>
                        </ng-template>
                        <ng-template ngbTabContent>
                          <div class="row">
                            <div class="col-6">
                              <p class="font-medium-3 text-muted">Dakconstructie</p>
                            </div><div class="col-6">
                              <a href="javascript:void(0)" style='float:right;' (click)="Dakconstructiesopen(content,$event)" class="btn btn-raised gradient-mint white"
                                false>Toevoegen</a>
                              </div>
                            </div>
                              
                              <!-- start kendo grid -->
                              <kendo-grid [data]="gridDataDakconstructies" [pageSize]="stateRoof.take" [skip]="stateRoof.skip" [sort]="stateRoof.sort"
                                [filter]="stateRoof.filter" [sortable]="true" [pageable]="true" filterable="menu" (dataStateChange)="dataStateChangestateDakconstructies($event)">
                                <ng-template kendoGridToolbarTemplate>
                                    <button type="button" kendoGridExcelCommand><span class="k-icon k-i-file-excel"></span>Export to Excel</button>
                                </ng-template>
                                <kendo-grid-column field="Nr" title="Nr" width="10" [filterable]="false"></kendo-grid-column>
                                <kendo-grid-column field="Datum_opname" title="Datum opname" width="20"></kendo-grid-column>
                                <kendo-grid-column field="Inspecteur" title="Inspecteur" width="20"></kendo-grid-column>
                                <kendo-grid-column field="Onderdeel" title="Onderdeel" width="20"></kendo-grid-column>
                                <kendo-grid-column field="Soort_constructie" title="Soort constructie" width="20"></kendo-grid-column>
                                <kendo-grid-column field="Toelichting" title="Toelichting" width="20"></kendo-grid-column>
                                <kendo-grid-column title="Action" width="30">
                                  <ng-template kendoGridCellTemplate let-dataItem>
                                    <a href='roof/constructionelement'>
                                      <i class='icon-arrow-right primary font-medium-1 mr-2'></i>
                                    </a>
                                    <a href='javascript:void(0)' (click)="Dakconstructiesopen(content,$event)">
                                      <i class='icon-note primary font-medium-1 mr-2'></i>
                                    </a>
                                    <a href='javascript:void(0)' (click)="DakconstructiesconfirmCancelButton()" false>
                                      <i class='icon-trash primary font-medium-1 mr-2'></i>
                                    </a>
                                  </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-excel fileName="RoofDakconstructie.xlsx"></kendo-grid-excel>
                              </kendo-grid>
                              <!-- end kendo grid -->
                            
                        </ng-template>
                        <!-- Pop up code start -->
                        <div class="card-body">
                          <div class="card-block">
                            <form [formGroup]="regularFormDak" (ngSubmit)="DakonReactiveFormSubmit()" novalidate>
                              <ng-template #content let-c="close" let-d="dismiss">
                                <div class="modal-header">
                                  <p class="modal-title font-medium-3 text-muted">Dakconstructie Toevoegen</p>
                                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="DakConstctieSelect">Onderdeel:</label>
                                    <div class="col-md-9">
                                      <fieldset>
                                        <select class="form-control" id="DakConstctieSelect" formControlName="DakConstctieSelect" required>
                                          <option>Select Option</option>
                                          <option>Dak</option>
                                        </select>
                                        <small class="form-text text-muted danger" *ngIf="!regularFormDak.get('DakConstctieSelect').valid && (regularFormDak.get('DakConstctieSelect').dirty || regularFormDak.get('DakConstctieSelect').touched)">Please select a Onderdeel!</small>
                                      </fieldset>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="Datum_opnameSelect">Datum opname:</label>
                                    <div class="col-md-9">
                                      <input type="text" id="Datum_opnameSelect" class="form-control" name="Datum_opnameSelect" formControlName="Datum_opnameSelect"
                                        required>
                                      <small class="form-text text-muted danger" *ngIf="!regularFormDak.get('Datum_opnameSelect').valid && (regularFormDak.get('Datum_opnameSelect').dirty || regularFormDak.get('Datum_opnameSelect').touched)">Please enter a Datum opname!</small>

                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="txtInspecteur">Inspecteur: </label>
                                    <div class="col-md-9">
                                      <input type="text" id="txtInspecteur" class="form-control" name="txtInspecteur" formControlName="txtInspecteur" required>
                                      <small class="form-text text-muted danger" *ngIf="!regularFormDak.get('txtInspecteur').valid && (regularFormDak.get('txtInspecteur').dirty || regularFormDak.get('txtInspecteur').touched)">Please enter a Inspecteur!</small>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="txtSoort_constructie">Soort constructie: </label>
                                    <div class="col-md-9">
                                      <input type="text" id="txtSoort_constructie" class="form-control" name="txtSoort_constructie" formControlName="txtSoort_constructie"
                                        required>
                                      <small class="form-text text-muted danger" *ngIf="!regularFormDak.get('txtSoort_constructie').valid && (regularFormDak.get('txtSoort_constructie').dirty || regularFormDak.get('txtSoort_constructie').touched)">Please enter a Soort constructie!</small>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="txtToelichting">Toelichting: </label>
                                    <div class="col-md-9">
                                      <input type="text" id="txtToelichting" class="form-control" name="txtToelichting" formControlName="txtToelichting" required>
                                      <small class="form-text text-muted danger" *ngIf="!regularFormDak.get('txtToelichting').valid && (regularFormDak.get('txtToelichting').dirty || regularFormDak.get('txtToelichting').touched)">Please enter a Toelichting!</small>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-success btn-raised" [disabled]="!regularForm.valid">Opslaan</button>
                                  <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                                </div>
                              </ng-template>
                            </form>
                          </div>
                        </div>
                        <!-- Pop up code end -->


                      </ngb-tab>
                      <ngb-tab>
                        <ng-template ngbTabTitle>
                          <b>Advies</b>
                        </ng-template>
                        <ng-template ngbTabContent>
                          <div class="row">
                            <div class="col-6">
                              <p class="modal-title font-medium-3 text-muted">Advies Planmatig Onderhoud</p>
                            </div><div class="col-6">
                              <a href="javascript:void(0)" style='float:right;' (click)="Planmatigopen(contentPlanmatig,$event)" class="btn btn-raised gradient-mint white"
                                false>Toevoegen</a>
                              </div>
                            </div>
                              
                              <!-- start kendo grid -->
                              <kendo-grid [data]="gridDataPlanmatig" [pageSize]="statePlanmatig.take" [skip]="statePlanmatig.skip" [sort]="statePlanmatig.sort"
                                [filter]="statePlanmatig.filter" [sortable]="true" [pageable]="true" filterable="menu" (dataStateChange)="dataStateChangestatePlanmatig($event)">
                                <ng-template kendoGridToolbarTemplate>
                                    <button type="button" kendoGridExcelCommand><span class="k-icon k-i-file-excel"></span>Export to Excel</button>
                                </ng-template>
                                <kendo-grid-column field="Onderdeel" title="Onderdeel" width="20"></kendo-grid-column>
                                <kendo-grid-column field="Element" title="Element" width="20"></kendo-grid-column>
                                <kendo-grid-column field="Omvang" title="Omvang" width="20"></kendo-grid-column>
                                <kendo-grid-column field="Maatregel" title="Maatregel" width="20"></kendo-grid-column>
                                <kendo-grid-column field="Kosten" title="Kosten" width="20"></kendo-grid-column>
                                <kendo-grid-column field="Jaartal" title="Jaartal" width="20"></kendo-grid-column>
                                <kendo-grid-column title="Uitgevoerd" width="20">
                                  <ng-template kendoGridCellTemplate let-dataItem>
                                    <i class='ft-x danger'></i>
                                  </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column title="Action" width="20">
                                  <ng-template kendoGridCellTemplate let-dataItem>
                                    <a href='javascript:void(0)' (click)="Planmatigopen(contentPlanmatig,$event)">
                                      <i class='icon-note primary font-medium-1 mr-2'></i>
                                    </a>
                                    <a href='javascript:void(0)' (click)="PlanmatigconfirmCancelButton()" false>
                                      <i class='icon-trash primary font-medium-1 mr-2'></i>
                                    </a>
                                  </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-excel fileName="RoofAdvicePlanmatig.xlsx"></kendo-grid-excel>
                              </kendo-grid>
                              <!-- end kendo grid -->
                           
                           <hr>
                            
                            <div class="row">
                            <div class="col-6">
                              <p class="modal-title font-medium-3 text-muted">Advies Correctief Onderhoud</p>
                            </div><div class="col-6">
                              <a href="javascript:void(0)" style='float:right;' (click)="Planmatigopen(contentPlanmatig,$event)" class="btn btn-raised gradient-mint white"
                                false>Toevoegen</a>
                              </div>
                              <!-- start kendo grid -->
                              <kendo-grid [data]="gridDataCorrectief" [pageSize]="stateCorrectief.take" [skip]="stateCorrectief.skip" [sort]="stateCorrectief.sort"
                                [filter]="stateCorrectief.filter" [sortable]="true" [pageable]="true" filterable="menu" (dataStateChange)="dataStateChangestateCorrectief($event)">
                                <ng-template kendoGridToolbarTemplate>
                                    <button type="button" kendoGridExcelCommand><span class="k-icon k-i-file-excel"></span>Export to Excel</button>
                                </ng-template>
                                <kendo-grid-column field="cOnderdeel" title="Onderdeel" width="20"></kendo-grid-column>
                                <kendo-grid-column field="cElement" title="Element" width="20"></kendo-grid-column>
                                <kendo-grid-column field="cOmvang" title="Omvang" width="20"></kendo-grid-column>
                                <kendo-grid-column field="cMaatregel" title="Maatregel" width="20"></kendo-grid-column>
                                <kendo-grid-column field="cKosten" title="Kosten" width="20"></kendo-grid-column>
                                <kendo-grid-column field="cJaartal" title="Jaartal" width="20"></kendo-grid-column>
                                <kendo-grid-column title="Uitgevoerd" width="20">
                                  <ng-template kendoGridCellTemplate let-dataItem>
                                    <i class='ft-x danger'></i>
                                  </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column title="Action" width="20">
                                  <ng-template kendoGridCellTemplate let-dataItem>
                                    <a href='javascript:void(0)' (click)="Planmatigopen(contentPlanmatig,$event)">
                                      <i class='icon-note primary font-medium-1 mr-2'></i>
                                    </a>
                                    <a href='javascript:void(0)' (click)="CorrectiefconfirmCancelButton()" false>
                                      <i class='icon-trash primary font-medium-1 mr-2'></i>
                                    </a>
                                  </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-excel fileName="RoofAdviceCorrectief.xlsx"></kendo-grid-excel>
                              </kendo-grid>
                              <!-- end kendo grid -->
                            </div>
                          
                        </ng-template>
                        <!-- Pop up code start -->
                        <div class="card-body">
                          <div class="card-block">
                            <form [formGroup]="PlanmatigregularForm" (ngSubmit)="PlanmatigonReactiveFormSubmit()" novalidate>
                              <ng-template #contentPlanmatig let-c="close" let-d="dismiss">
                                <div class="modal-header">
                                  <p class="modal-title font-medium-3 text-muted">Planmatig Onderhoud Toevoegen</p>
                                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="RuimteSelect">Ruimte:</label>
                                    <div class="col-md-9">
                                      <fieldset>
                                        <select class="form-control" id="RuimteSelect" formControlName="RuimteSelect" required>
                                          <option>Select Option</option>
                                          <option>Entree</option>
                                        </select>
                                        <small class="form-text text-muted danger" *ngIf="!PlanmatigregularForm.get('RuimteSelect').valid && (PlanmatigregularForm.get('RuimteSelect').dirty || PlanmatigregularForm.get('RuimteSelect').touched)">Please select a Ruimte!</small>
                                      </fieldset>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="OnderdeelSelect">Onderdeel:</label>
                                    <div class="col-md-9">
                                      <fieldset>
                                        <select class="form-control" id="OnderdeelSelect" formControlName="OnderdeelSelect" required>
                                          <option>Select Option</option>
                                          <option>Dak</option>
                                        </select>
                                        <small class="form-text text-muted danger" *ngIf="!PlanmatigregularForm.get('OnderdeelSelect').valid && (PlanmatigregularForm.get('OnderdeelSelect').dirty || PlanmatigregularForm.get('OnderdeelSelect').touched)">Please select a Onderdeel!</small>
                                      </fieldset>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="Element1Select">Element: </label>
                                    <div class="col-md-9">
                                      <fieldset>
                                        <select class="form-control" id="Element1Select" formControlName="Element1Select" required>
                                          <option>Select Option</option>
                                          <option>-</option>
                                        </select>
                                        <small class="form-text text-muted danger" *ngIf="!PlanmatigregularForm.get('Element1Select').valid && (PlanmatigregularForm.get('Element1Select').dirty || PlanmatigregularForm.get('Element1Select').touched)">Please select a Element!</small>
                                      </fieldset>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="txtPlanmatigOmvang">Omvang(m2): </label>
                                    <div class="col-md-9">
                                      <input type="text" id="txtPlanmatigOmvang" class="form-control" name="txtPlanmatigOmvang" formControlName="txtPlanmatigOmvang"
                                        required>
                                      <small class="form-text text-muted danger" *ngIf="!PlanmatigregularForm.get('txtPlanmatigOmvang').valid && (PlanmatigregularForm.get('txtPlanmatigOmvang').dirty || PlanmatigregularForm.get('txtPlanmatigOmvang').touched)">Please enter a Omvang!</small>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="txtMaatregel">Maatregel: </label>
                                    <div class="col-md-9">
                                      <fieldset>
                                        <select class="form-control" id="txtMaatregel" formControlName="txtMaatregel" required>
                                          <option>Select Option</option>
                                          <option>Vernieuwen</option>
                                        </select>
                                        <small class="form-text text-muted danger" *ngIf="!PlanmatigregularForm.get('txtMaatregel').valid && (PlanmatigregularForm.get('txtMaatregel').dirty || PlanmatigregularForm.get('txtMaatregel').touched)">Please select a Maatregel!</small>
                                      </fieldset>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="txtJaartal">Jaartal: </label>
                                    <div class="col-md-9">
                                      <fieldset>
                                        <select class="form-control" id="txtJaartal" formControlName="txtJaartal" required>
                                          <option>Select Option</option>
                                          <option>Dak</option>
                                        </select>
                                        <small class="form-text text-muted danger" *ngIf="!PlanmatigregularForm.get('txtJaartal').valid && (PlanmatigregularForm.get('txtJaartal').dirty || PlanmatigregularForm.get('txtJaartal').touched)">Please select a Jaartal!</small>
                                      </fieldset>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="txtKostenSelect">Kosten($): </label>
                                    <div class="col-md-9">
                                      <fieldset>
                                        <div>
                                          <input type="text" id="txtKostenSelect" class="form-control" name="txtKostenSelect" formControlName="txtKostenSelect" required>
                                          <small class="form-text text-muted danger" *ngIf="!PlanmatigregularForm.get('txtKostenSelect').valid && (PlanmatigregularForm.get('txtKostenSelect').dirty || PlanmatigregularForm.get('txtKostenSelect').touched)">Please enter Kosten!</small>
                                          <select class="form-control" id="KostenSelect" formControlName="KostenSelect">
                                            <option>Select Option</option>
                                            <option>Totaal/per eenheid</option>
                                          </select>
                                          <small class="form-text text-muted danger" *ngIf="!PlanmatigregularForm.get('KostenSelect').valid && (PlanmatigregularForm.get('KostenSelect').dirty || PlanmatigregularForm.get('KostenSelect').touched)">Please select Kosten!</small>
                                        </div>
                                      </fieldset>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-md-3 label-control" for="AdviesSelect">Advies: </label>
                                    <div class="col-md-9">
                                      <fieldset>
                                        <div>
                                          <select class="form-control" id="AdviesSelect" formControlName="AdviesSelect">
                                            <option>Select Option</option>
                                            <option>Planmatig</option>
                                            <option>Correctief</option>
                                          </select>
                                          <small class="form-text text-muted danger" *ngIf="!PlanmatigregularForm.get('AdviesSelect').valid && (PlanmatigregularForm.get('AdviesSelect').dirty || PlanmatigregularForm.get('AdviesSelect').touched)">Please select Advies!</small>
                                        </div>
                                      </fieldset>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-success btn-raised" [disabled]="!regularForm.valid">Opslaan</button>
                                  <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                                </div>
                              </ng-template>
                            </form>
                          </div>
                        </div>
                        <!-- Pop up code end -->

                      </ngb-tab>

                    </ngb-tabset>
                  </div>
                </div>
              </div>
            </div>
            <!--Nav justification Ends-->

          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!--About section ends-->

<!--User Timeline section starts-->

<!--User Timeline section ends-->

<!--User's friend section starts-->

<!--User's friend section starts-->

<!--User's uploaded photos section starts-->
<!--User's uploaded photos section starts-->
<!--User Profile Starts-->