<!--User Profile Starts-->
<!--Basic User Details Starts-->
<!--Basic User Details Ends-->
<!--About section starts-->
<section id="about" *ngIf="currentPage === 'About'">
  <div class="row">
    <div class="col-6">
      <a href="roof/roofdetail" class="text-muted font-medium-3 text-bold-400">01 Hoge dak woningen > 01 Dakconstructie</a>
    </div>
    <div class="col-6 text-right">
      <div class="profile-cover-buttons">
        <div class="media-body halfway-fab align-self-end">
          <button type="button" (click)="Modifyopen(Modifycontent,$event)" class="btn btn-success btn-raised">
            <i class="ft-edit-2"></i> Wijzigen</button>
          <button type="button" class="btn btn-success btn-raised">
            <i class="ft-printer"></i>Printen</button>
          <button type="button" (click)="DeleteconfirmCancelButton()" false class="btn btn-success btn-raised">
            <i class="ft-trash-2"></i>Verwijderen</button>
        </div>
        <!-- Add Daken Pop up code start -->
        <div class="card-body">
          <div class="card-block">
            <form [formGroup]="ModifyregularForm" (ngSubmit)="ModifyonReactiveFormSubmit()" novalidate>
              <ng-template #Modifycontent let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <p class="font-medium-3 text-muted">Wijzigen</p>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="ModifyDak">Dak: </label>
                    <div class="col-md-9">
                      <input type="text" id="ModifyDak" class="form-control" name="ModifyDak" formControlName="ModifyDak" required>
                      <small class="form-text text-muted danger" *ngIf="!ModifyregularForm.get('ModifyDak').valid && (ModifyregularForm.get('ModifyDak').dirty || ModifyregularForm.get('ModifyDak').touched)">Please enter a Dak!</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="ModifyOnderdeel">Onderdeel: </label>
                    <div class="col-md-9">
                      <input type="text" id="ModifyOnderdeel" class="form-control" name="ModifyOnderdeel" formControlName="ModifyOnderdeel" required>
                      <small class="form-text text-muted danger" *ngIf="!ModifyregularForm.get('ModifyOnderdeel').valid && (ModifyregularForm.get('ModifyOnderdeel').dirty || ModifyregularForm.get('ModifyOnderdeel').touched)">Please enter a Onderdeel!</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="ModiSoort_constr">Soort constr: </label>
                    <div class="col-md-9">
                      <input type="text" id="ModiSoort_constr" class="form-control" name="ModiSoort_constr" formControlName="ModiSoort_constr" required>
                      <small class="form-text text-muted danger" *ngIf="!ModifyregularForm.get('ModiSoort_constr').valid && (ModifyregularForm.get('ModiSoort_constr').dirty || ModifyregularForm.get('ModiSoort_constr').touched)">Please enter a Soort constr!</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 label-control" for="ModifyToelichting">Toelichting: </label>
                    <div class="col-md-9">
                      <input type="text" id="ModifyToelichting" class="form-control" name="ModifyToelichting" formControlName="ModifyToelichting"
                        required>
                      <small class="form-text text-muted danger" *ngIf="!ModifyregularForm.get('ModifyToelichting').valid && (ModifyregularForm.get('ModifyToelichting').dirty || ModifyregularForm.get('ModifyToelichting').touched)">Please enter a Toelichting!</small>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success btn-raised" [disabled]="!regularForm.valid">Opslaan</button>
                  <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                </div>
              </ng-template>
            </form>
          </div>
        </div>
        <!-- Add Daken Pop up code end -->

      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
            <br/>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                <ul class="no-list-style">
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a>
                        <i class="icon-present font-small-3"></i> Dak:</a>
                    </span>
                    <span class="display-block overflow-hidden">Hoge dak woningen</span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a>
                        <i class="ft-map-pin font-small-3"></i> Nr:</a>
                    </span>
                    <span class="display-block overflow-hidden">01</span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a>
                        <i class="ft-globe font-small-3"></i>Onderdeel:</a>
                    </span>
                    <span class="display-block overflow-hidden">Dak</span>
                  </li>

                </ul>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <ul class="no-list-style">
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a>
                        <i class="ft-smartphone font-small-3"></i>Soort constr:</a>
                    </span>
                    <span class="display-block overflow-hidden">Dakconstructie</span>
                  </li>
                  <li class="mb-2">
                    <span class="text-bold-500 primary">
                      <a>
                        <i class="ft-monitor font-small-3"></i>Toelichting:</a>
                    </span>
                    <span class="display-block overflow-hidden">Deel A van het dak</span>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <ul class="no-list-style">
                  <li class="mb-2">
                    <img class="img-thumbnail img-fluid" src="./assets/img/gallery/home-1.jpg" itemprop="thumbnail" alt="Image description" />
                  </li>
                </ul>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <ul class="no-list-style">
                  <li class="mb-2">
                    <p>De Beurs
                      <br/>Woongebouw 1
                      <br/>Markt 1-199
                      <br/>4811 XP Breda </p>
                  </li>
                </ul>
              </div>
            </div>
          <hr>
            <!--Nav justification Starts-->
            <div class="col-md-12 col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="card-block">
                    <div class="row">
                      <div class="col-6">
                        <p class="text-muted font-medium-3">Constructie element</p>
                        </div><div class="col-6">
                        <a href="javascript:void(0)" style='float:right;' (click)="open(content,$event)" class="btn btn-raised gradient-mint white"
                          false>Toevoegen</a>
                        </div>
                      </div>
                        
                        <!-- start kendo grid -->
                        <kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true"
                          [pageable]="true" filterable="menu" (dataStateChange)="dataStateChange($event)">
                          <ng-template kendoGridToolbarTemplate>
                              <button type="button" kendoGridExcelCommand><span class="k-icon k-i-file-excel"></span>Export to Excel</button>
                          </ng-template>
                          <kendo-grid-column field="Nr" title="Nr" width="20" [filterable]="false"></kendo-grid-column>
                          <kendo-grid-column field="Onderdeel" title="Onderdeel" width="20"></kendo-grid-column>
                          <kendo-grid-column field="Laagomschrijving" title="Laagomschrijving" width="20"></kendo-grid-column>
                          <kendo-grid-column field="Dikte(mm)" title="Dikte(mm)" width="20"></kendo-grid-column>
                          <kendo-grid-column field="Lambda" title="Lambda" width="20"></kendo-grid-column>
                          <kendo-grid-column title="Action" width="20">
                            <ng-template kendoGridCellTemplate let-dataItem>
                              <a href='javascript:void(0)' (click)="open(content,$event)">
                                <i class='icon-note primary font-medium-1 mr-2'></i>
                              </a>
                              <a href='javascript:void(0)' (click)="confirmCancelButton()" false>
                                <i class='icon-trash primary font-medium-1 mr-2'></i>
                              </a>
                            </ng-template>
                          </kendo-grid-column>
                          <kendo-grid-excel fileName="RoofConstructieElement.xlsx"></kendo-grid-excel>
                        </kendo-grid>
                        <!-- end kendo grid -->
                      

                    <!-- Pop up code start -->
                    <div class="card-body">
                      <div class="card-block">
                        <form [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()" novalidate>
                          <ng-template #content let-c="close" let-d="dismiss">
                            <div class="modal-header">
                              <p class="modal-title text-muted font-medium-3">Constructie Element Toevoegen</p>
                              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="form-group row">
                                <label class="col-md-3 label-control" for="txtOnderdeel">Onderdeel:</label>
                                <div class="col-md-9">
                                  <input type="text" id="txtOnderdeel" class="form-control" name="txtOnderdeel" formControlName="txtOnderdeel" required>
                                  <small class="form-text text-muted danger" *ngIf="!regularForm.get('txtOnderdeel').valid && (regularForm.get('txtOnderdeel').dirty || regularForm.get('txtOnderdeel').touched)">Please enter a Onderdeel!</small>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-3 label-control" for="txtLaagomschrijving">Laagomschrijving:</label>
                                <div class="col-md-9">
                                  <input type="text" id="txtLaagomschrijving" class="form-control" name="txtLaagomschrijving" formControlName="txtLaagomschrijving"
                                    required>
                                  <small class="form-text text-muted danger" *ngIf="!regularForm.get('txtLaagomschrijving').valid && (regularForm.get('txtLaagomschrijving').dirty || regularForm.get('txtLaagomschrijving').touched)">Please enter a Laagomschrijving!</small>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-3 label-control" for="txtDikte">Dikte(mm): </label>
                                <div class="col-md-9">
                                  <input type="text" id="txtDikte" class="form-control" name="txtDikte" formControlName="txtDikte" required>
                                  <small class="form-text text-muted danger" *ngIf="!regularForm.get('txtDikte').valid && (regularForm.get('txtDikte').dirty || regularForm.get('txtDikte').touched)">Please enter a Dikte!</small>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-md-3 label-control" for="txtLambda">Lambda: </label>
                                <div class="col-md-9">
                                  <input type="text" id="txtLambda" class="form-control" name="txtLambda" formControlName="txtLambda" required>
                                  <small class="form-text text-muted danger" *ngIf="!regularForm.get('txtLambda').valid && (regularForm.get('txtLambda').dirty || regularForm.get('txtLambda').touched)">Please enter a Lambda!</small>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-success btn-raised" [disabled]="!regularForm.valid">Opslaan</button>
                              <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                            </div>
                          </ng-template>
                        </form>
                      </div>
                    </div>
                    <!-- Pop up code end -->
                  </div>
                </div>
              </div>
            </div>
            <!--Nav justification Ends-->
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--About section ends-->

<!--User Timeline section starts-->

<!--User Timeline section ends-->

<!--User's friend section starts-->

<!--User's friend section starts-->

<!--User's uploaded photos section starts-->
<!--User's uploaded photos section starts-->
<!--User Profile Starts-->