page-inspection_edit_photo {
    ion-slide.swiper-slide {
        left: 25%;
    }
    
    .slide-zoom {
        // background: #e6e6e6;
        background: white;
    }
 
    .thumb-img {
        padding: 10px;
    }

    
}
